.button-orange{
  color: white;
  background: linear-gradient(90deg, rgba(247,171,104,1) 0%, rgba(240,37,100,1) 100%);
  padding: 9px 29px;
  border-radius: 50px;
  margin-right: 32px;
  border: transparent;
}

.button-orange:hover{
  color: white;
}
